/* Font imports */
:root {
  --font-sans: "Open Sauce One", sans-serif;
  --font-serif: "Beatrice", serif;

  --font-serif--thin: "Beatrice-Thin", serif;
  --font-serif--light: "Beatrice-Light", serif;
  --font-serif--medium: "Beatrice-Medium", serif;
  --font-serif--semibold: "Beatrice-Semibold", serif;
  --font-serif--bold: "Beatrice-Bold", serif;
  --font-serif--extrabold: "Beatrice-Extrabold", serif;

  --font-sans--medium: "Open Sauce One Medium", sans-serif;

  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;


  --font-style-normal: normal;
  --font-style-italic: italic;
  --font-style-oblique: oblique;




  --font-line-height-tight: 1.25;
  --font-line-height-snug: 1.375;
  --font-line-height-normal: 1.5;
  --font-line-height-relaxed: 1.625;
  --font-line-height-loose: 2;

  --font-letter-spacing-tightest: -0.1em;
  --font-letter-spacing-tighter: -0.05em;
  --font-letter-spacing-tight: -0.025em;
  --font-letter-spacing-normal: 0em;
  --font-letter-spacing-wide: 0.025em;
  --font-letter-spacing-wider: 0.05em;
  --font-letter-spacing-widest: 0.1em;

  --font-size-2xs: clamp(0.625rem, 0.6rem + 0.125vw, 0.75rem);
  --font-size-xs: clamp(0.75rem, 0.7rem + 0.25vw, 0.875rem);
  --font-size-sm: clamp(0.875rem, 0.8rem + 0.375vw, 1rem);
  --font-size-base: clamp(1rem, 0.9rem + 0.5vw, 1.125rem);
  --font-size-lg: clamp(1.125rem, 1rem + 0.625vw, 1.25rem);
  --font-size-xl: clamp(1.25rem, 1.1rem + 0.75vw, 1.5rem);
  --font-size-2xl: clamp(1.5rem, 1.3rem + 1vw, 2rem);
  --font-size-3xl: clamp(1.875rem, 1.6rem + 1.375vw, 2.5rem);
  --font-size-4xl: clamp(2.25rem, 1.9rem + 1.75vw, 3rem);
  --font-size-5xl: clamp(3rem, 2.5rem + 2.5vw, 4rem);
  --font-size-6xl: clamp(3.75rem, 3rem + 3.75vw, 5rem);

  --font-size-pageHeading: 16rem;
  /* 160px */
  --font-size-pageSubHeading: 13rem;
  /* 130px */
  --font-size-sectionHeading: 8rem;
  /* 72px */






}



@font-face {
  font-family: "Open Sauce One";
  src: url("/fonts/OpenSauceOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sauce One Medium";
  src: url("/fonts/OpenSauceOne-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Beatrice-Thin";
  src: url("/fonts/Beatrice-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Beatrice-Semibold";
  src: url("/fonts/Beatrice-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Beatrice";
  src: url("/fonts/Beatrice-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Beatrice-Medium";
  src: url("/fonts/Beatrice-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Beatrice-Light";
  src: url("/fonts/Beatrice-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Beatrice-Bold";
  src: url("/fonts/Beatrice-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Beatrice-Extrabold";
  src: url("/fonts/Beatrice-Extrabold.ttf") format("truetype");
}

.serif {
  font-family: var(--font-serif);
}

.sans {
  font-family: var(--font-sans);
}

.serif-thin {
  font-family: var(--font-serif--thin);
}

.serif-light {
  font-family: var(--font-serif--light);
}

.serif-medium {
  font-family: var(--font-serif--medium);
}

.serif-semibold {
  font-family: var(--font-serif--semibold);
}

.serif-bold {
  font-family: var(--font-serif--bold);
}

.serif-extrabold {
  font-family: var(--font-serif--extrabold);
}

.sans-medium {
  font-family: var(--font-sans--medium);
}



@media (prefers-color-scheme: dark) {
  :root {
    --text-color-black: #fafafa;
    --text-color-white: #0e0e0e;
    --passive-text-color: var(--black-200);
    --active-text-color: var(--black-800);

  }
}

.pageHeading {
  font-size: var(--font-size-pageHeading);
  font-weight: var(--font-weight-light);
  line-height: var(--font-line-height-normal);
  letter-spacing: var(--font-letter-spacing-tighter);
  
}

.pageSubHeading {
  font-size: var(--font-size-pageSubHeading);
  font-weight: var(--font-weight-light);
  line-height: var(--font-line-height-normal);
  letter-spacing: var(--font-letter-spacing-tighter);
  
}

.sectionHeading {
  font-size: var(--font-size-sectionHeading);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-normal);
  letter-spacing: var(--font-letter-spacing-normal);
 
}

.timeLineYear {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-light);
  line-height: var(--font-line-height-normal);
  letter-spacing: var(--font-letter-spacing-normal);
}

.timeLineInfo {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-extralight);
  line-height: var(--font-line-height-normal);
  letter-spacing: var(--font-letter-spacing-normal);
}

.paragraph {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-normal);
  letter-spacing: var(--font-letter-spacing-normal);
}

